{{ form_start(form) }}
    {{ form_widget(form.email) }}
    {% for role in form.roles %}
        {{ role.loop }}
    {% endfor %}
    {{ form_widget(form.password) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
